*.class

# Package Files #
*.jar
*.war
*.ear

hs_err_pid*

.gradle
build/

target/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Eclipse Files #
.classpath
.project
.settings

# NetBeans Files #
/nbproject/
nb-configuration.xml
